<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Others/testngtest">
        <classes>
            <class name="com.academy.learning.sqa.testngtest.LoginWithMainMethlod">
            </class>
            <class name="com.academy.learning.sqa.testngtest.OptimizeLoginWithTestNGTest">
            </class>
            <class name="com.academy.learning.sqa.testngtest.TestClass">
            </class>
            <class name="com.academy.learning.sqa.testngtest.LoginWithoutMainMethod">
            </class>
        </classes>
    </test>
</suite>